div.all {
    border: solid black 2px;
    height: 17em;
    width: 25em;
    padding-left: 2em;
    background-color: white;
    margin: auto;
}
input {
    width: 80px;
    background-color: #d2ecff;
    color: #0b0b0b;

}
section {
    text-align: right;
    padding-bottom: 10em;
    padding-right: 2em;

}
