div.all {
    border: dotted black 5px;
    border-radius: 15px 50px;
    height: 17em;
    width: 29em;
    padding-left: 2em;
    margin-left: 29em;
    margin-top: 14em;
    background-color: white;
    font-family: "Times New Roman", Times, serif;;
}
input {
    width: 80px;
    color: black;
    border: dashed black 1px;
    border-radius: 50px 50px 50px 50px;

}
section {
    text-align: right;
    padding-bottom: 10em;
    padding-right: 2em;

}
label {
    font-style: italic;
}
body {
    background-image: url("img/color_circle.png");
    background-color: #cccccc;
}

